# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Dependencies
/node_modules
/dist
/build
/target

# Environment variables
.env
.env.local

# Operating System files
.DS_Store
Thumbs.db

# IDE specific files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Backup files
*.bak
*.tmp

# User specific files
banned_words.json
log.txt

#pycache files
__pycache__
__pycache__/bot.cpython-313.pyc
__pycache__/llm_client_gemini.cpython-313.pyc
__pycache__/llm_client_lmstudio.cpython-313.pyc
__pycache__/llm_client.cpython-313.pyc
